root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.py]
indent_size = 4

[*.md]
# 行末スペース 2 個の改行を使わない方針だが、誤削除防止のため Markdown は除外
trim_trailing_whitespace = false
